.login-form {
  display: flex;
  justify-content: center;
  padding: 150px 0;
}

input {
    color: red;
}
.description-body{
    background-image:url("../Image/yellow_bg.jpeg");
    height: 755px;
}
