body {
  overflow: hidden;
}

#login {
  display: flex;
  justify-content: center;
  padding: 150px 0;
}

#login-button {
  color: white;
  background-color: #8f6aff;
}

#input-type-input:focus {
  background-color: #f0ecff;
}

.login-p {
  padding-top: 10px;
  color: #7854ff;
}
