#profile {
  background-color: #ebedef;
  margin-top: 5%;
  padding: 3%;
  /* padding-left: 20%; */
}

#profile-heading {
  padding-left: 2%;
}

#profile-edit {
  margin-left: 10px;
}

.new-profile {
  text-align: center;
  padding-top: 15%;
}
