#admin {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

#admin-list {
  color: #1c2833;
}
div > form > h1 {
  padding-bottom: 15px;
}

#login-button {
  color: white;
  background-color: #8f6aff;
}

.admin-p {
  cursor: pointer;
  text-decoration: underline;
}

#admin-opportunity {
  background-color: #c39bd3;
  color: white;
  margin-bottom: 20px;
  margin-left: 10px;
}

#admin-h1 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bolder;
  text-align: center;
}

#admin-grid {
  height: 650px;
}
#admin-left {
  padding: 5vh;
  margin-top: 10vh;
  margin-left: 10vh;
  color: white;
  background-color: #ecd2f7;
}

#admin-right {
  margin-top: 10vh;
  background-color: #fafafa;
  /* background-color: #f9f9f9; */
}

#admin-header {
  margin-top: 10vh;
}
.admin-search {
  width: 50vw;
}

#admin-table {
  overflow: auto;
  margin-top: 5vh;
  max-height: 65vh;
}

#admin-thead {
  background-color: #566573;
}

#admin-menu {
  backgroundcolor: '#A569BD';
}

#loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid gray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

#loading {
  padding-left: 45vw;
  padding-top: 10vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
